{% extends 'base.html' %}
{% block title %}
    Козина
{% endblock title %}

{% block container %}
    <div class="container text-center">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Сумма</th>
                <th scope="col">
            </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <form method="POST" action="{% url 'cart_delete_item' item.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <table class="table">
            <tbody class="table-dark">
            <tr>
                <td>Сумма заказа</td>
                <td>{{ cart.amount }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock container %}