{% extends 'base.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock title %}

{% block container %}
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-contact border-bottom pb-3 border-light logo">В Галерее</h2>
                    <ul class="list-unstyled text-contact footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Где-то на белом свете
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-contact" href="tel:+79001231212">+79001231212</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-contact" href="mailto: example@example.com"> example@example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->
{% endblock container %}