{% extends 'base.html' %}
{% block title %}
    Мои заказы
{% endblock title %}

{% block container %}
    <div class="container text-center">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Дата заказа</th>
                <th scope="col">Статус</th>
                <th scope="col">Сумма заказа</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.creation_time }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <form method="POST" action="{% url 'delete_cart' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}