{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Регистрация
{% endblock title %}

{% block container %}
    <div class="container py-5">
        <h1 class="text-center"> Регистрация </h1>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ user_form|crispy }}
            {% for field in fields %}
                <span style="color: red">{{ field.errors }}</span>
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <div class="container py-5">
                <button type="submit">Зарегистрироваться</button>
                Уже есть аккаунт? <a href="{% url 'login' %}"> Войти </a>
            </div>
        </form>
    </div>

{% endblock container %}